@import 'settings';

$league-user-table-bottom-gap: 1.5rem;
$league-user-table-border: 1px solid $black;
$league-user-table-stack-point: 640px;
$league-user-table-label-bg: #D7EBF9;

.show-callout-user {
  margin-top: 1em;
  display: block;
  width: 100%;
  margin: auto;
}

.league-user-table {
  border-collapse: collapse;
  margin-top: 1rem;
  
  &.unstriped tbody {
    background-color: transparent;
  }
  
  th {
    background-color: $league-user-table-label-bg;
    text-align: center;
  }
  
  tr,
  th,
  td {
    border: $league-user-table-border;
    text-align: center;
  }
  
  @media screen and (max-width: $league-user-table-stack-point) {
    thead tr {
      position: absolute;
      top: -9999em;
      left: -9999em;
    }
    
    tr {
      border: $league-user-table-border;
      display: block;
    }
    
    tr + tr {
      margin-top: $league-user-table-bottom-gap;
    }
    /* Get table cells to act like rows */
    
    td {
      border: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: $league-user-table-border;
      padding-left: 50%;
      position: relative;
      
      &:before {
        content: attr(data-label);
        display: inline-block;
        font-weight: bold;
        line-height: 1.5;
        margin-left: -100%;
        width: 100%;
        position: relative;
        z-index: 1;
      }
      
      &:after {
        content: '';
        position: absolute;
        background: $league-user-table-label-bg;
        width: 45%;
        height: 95%;
        left: 1px;
        top: 1px;
        z-index: 0;
      }
    }
  }
}