@import 'settings';

.basic-card {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
  margin-top: 1rem;
  width: 50%;
}

.basic-card-image {
  grid-row-end: 4;
  grid-row-start: 1;

  img {
    width: 100%;
  }
}

.basic-card-content {
  border: 0;
  grid-row-start: 3 / 4;
  margin: 0;
  overflow: scroll;
}

.scoreboard {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;

}

.button-group {
  display: grid;
}

.button {
  border-radius: 8px;
  background-color: #DD614A;
}